---
import Base from '../layouts/Base.astro';
---
<Base title="About // Gaysex Solutions">

  <div class="page-heading">>> About</div>

  <div class="info-block">
    <p>Welcome, friends and hotties who were mutually-attracted enough to visit a sketchy URL from a business card handed to you by this
    <a href="https://www.tiktok.com/@bulbouscorm" target="_blank">handsome stranger</a>
    </p>
  </div>

  <div class="info-block">
    <p><b style="color:var(--cyan)">// TECHNICAL SPECS</b><br>
    Inspired by my Geocities fansite<br>
    Built with: Astro + Supabase<br>
    Deployed on: Netlify</p>
  </div>

</Base>