---
import Base from '../layouts/Base.astro';
---
<Base title="About // Gaysex Solutions">

  <div class="page-heading">>> <strong>About // Gaysex Solutions</strong></div>

  <div class="info-block">
    <p>Welcome, friends and hotties who were mutually-attracted enough to visit a sketchy URL from a business card handed to you by this
    <a href="https://www.tiktok.com/@bulbouscorm" target="_blank">handsome stranger</a>
    </p>
  </div>
<br>I made a personal decision to remove myself from most large social networks. To take matters into my own hands, I'm publishing this website as my personal blog and portfolio.<br>
  <div class="info-block">
<p>A note on AI - my writing is original, I don't need AI for that. This site was absolutely coded by AI though lmao.
</p>
<br>    <p><b style="color:var(--cyan)">// TECHNICAL SPECS</b><br>
    Designed by Christopher Hickok<br>
	Inspired by my Geocities fansite<br>
    Built with: Astro + Supabase<br>
	Manifested into code by Claude™ (an Anthropic© product)<br>
	Maintained using Git<br>
    Deployed on Netlify</p>
  </div>

</Base>