---
import Base from '../layouts/Base.astro';
---
<Base title="Links // Gaysex Solutions">

  <div class="page-heading">>> My Socials and Online Presences</div>

  <div class="info-block">
    <ul class="links-list">
      <li><a href="https://www.tiktok.com/@bulbouscorm" target="_blank">My TikTok profile</a></li>
      <li><a href="https://www.last.fm/user/cormbhorsen" target="_blank">My last.fm info</a></li>
	  <li><a href="https://bsky.app/profile/gaysex.solutions" target="_blank">My Bluesky page</a></li>
	  <li><a href="https://pixelfed.social/bulbouscorm" target="_blank">My Pixelfed account</a></li>
	  <li><a href="https://www.youtube.com/@bulbouscorm" target="_blank">My YouChube channel</a></li>
	  <li><a href="https://github.com/hickokchrist" target="_blank">My Github projects</a></li>
	  <li><a href="/site.html" target="_blank">My website from 6th grade</a></li>
   </ul>
  </div>


  <div class="page-heading">>> Sweepstakes Resources I Adore</div>

  <div class="info-block">
    <ul class="links-list">
      <li><a href="https://www.contestgirl.com/" target="_blank">Contest Girl</a></li>
      <li><a href="https://bestsweepstakes.com/" target="_blank">Best Sweepstakes</a></li>
    </ul>
  </div>


  <div class="page-heading">>> Cool Links</div>

  <div class="info-block">
    <ul class="links-list">
      <li><a href="https://apod.nasa.gov/apod/" target="_blank">NASA APOD Official Site</a></li>
      <li><a href="https://hubblesite.org" target="_blank">Hubble Space Telescope</a></li>
      <li><a href="https://www.esa.int" target="_blank">European Space Agency</a></li>
      <li><a href="https://www.jwst.nasa.gov" target="_blank">James Webb Space Telescope</a></li>
      <li><a href="https://stellarium-web.org" target="_blank">Stellarium Web (online planetarium)</a></li>
    </ul>
  </div>

</Base>