---
import Base from '../layouts/Base.astro';
---
<Base title="The Solution // Gaysex Solutions">

  <div class="page-heading">>> The Solution</div>

  <div class="info-block">
    <p> Get on your knees SINNER. I can sense there is a hole in you, perhaps more than one, and THE LORD is ready to fill all holes with his warm love. Open your mouth and speak the word to affirm your faith and guide his holy spirit into your body.
    </p>
  </div>
<p>Wave after wave of warm pulsing love enters you, the only solution is to succumb to his rapturous mercy as he takes you to the edge of salvation and back again. Knees shaking, you beg for more solutions.
</p>
<p>Just one bump, you say.. -one bump of your fist against the pews as you cry out from emptiness as THE LORD left you wanting for more.
</p>
<p>More and more you crave his love, you seek out new holes if only to see that they achieve their glory, such is THE LORD'S way.
</p>
<p>For how can one slurp without also gulping, who among us has licked without juggling them balls in their mouth?
</p>
<p>Fear not, sinner, for I, too have <a href="https://youtu.be/OJmX73wTqzo?list=RDOJmX73wTqzo&t=56" target="_blank">changed the thongs two times a day.</a>
</p>
<p><i>Meici dou xiang zhuangzuo...</i>
</p>
<a href="/floptropica">
  <div style="text-align: center;">
    <img src="/images/floptropica.png" alt="Floptropica" style="max-width: 100%; height: auto;" />
  </div>
</a>
</Base>