---
import Base from '../layouts/Base.astro';
---
<Base title="Sonic-Stew">

  <div class="page-heading">>> Sonic Stew with Hole McJail</div>

  <div class="info-block">
<p>Hole McJail brings an eclectic international mix spanning dance pop to reggaeton bangers to make you want to shake your booty. Sonic Stew is a melting pot of music in multiple languages; Hole's goal is to introduce you to the sickest beats you'd never heard before, exploring sonic styles around the world.
</p>
</div>
<br>
<h2><a href="https://www.mixcloud.com/Hole-McJail/sonic-stew-with-hole-mcjail-april-06-2026-debut-stew/" target="_blank">Episode 1: Debut Stew</a> (April 6, 2026)</h2>
<iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-april-06-2026-debut-stew%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
<br>
<h2><a href="https://www.mixcloud.com/Hole-McJail/sonic-stew-with-hole-mcjail-april-20-2026-stew-two/" target="_blank">Episode 2: Stew Two</a> (April 20, 2026)</h2>
<iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-april-20-2026-stew-two%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
<br>
<h2><a href="https://www.mixcloud.com/Hole-McJail/sonic-stew-with-hole-mcjail-may-4-2026-triple-consomm%C3%A9/" target="_blank">Episode 3: Triple Consommé</a> (May 4, 2026)</h2>
<iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-may-4-2026-triple-consomm%25C3%25A9%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
<br>
<h2><a href="https://www.mixcloud.com/Hole-McJail/sonic-stew-with-hole-mcjail-may-18-2026-stew-four-you/" target="_blank">Episode 4: Stew Four You</a> (May 18, 2026)</h2>
<iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-may-18-2026-stew-four-you%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
<br>
<h2><a href="https://www.mixcloud.com/Hole-McJail/sonic-stew-with-hole-mcjail-june-1-2026-5ive-alarm-chili/" target="_blank">Episode 5: Five Alarm Chili</a> (June 1, 2026)</h2>
<iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-june-1-2026-5ive-alarm-chili%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
<br>
<h2><a href="https://www.mixcloud.com/Hole-McJail/sonic-stew-with-hole-mcjail-june-15-2026-sextuple-simmer/" target="_blank">Episode 6: Sextuple Simmer</a> (June 15, 2026)</h2>
<iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-june-15-2026-sextuple-simmer%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
</Base>