---
import Base from '../layouts/Base.astro';
---
<Base title="Sonic-Stew">

  <div class="page-heading">>> <strong>Sonic Stew with Hole McJail</strong></div>

  <div class="info-block">
    <p>I teamed up with my friend Hole McJail to promote his radio show on my website. Tune in starting in April, 2026!
    </p>
<p>Hole McJail brings an eclectic international mix spanning dance pop to reggaeton bangers to make you want to shake your booty. Sonic Stew is a melting pot of music in multiple languages; Hole's goal is to introduce you to the sickest beats you'd never heard before, exploring sonic styles around the world.
</p>
</div>
Check out some of Hole's music tastes on <a href="https://www.last.fm/user/cormbhorsen" target="_blank">last.fm</a>
</Base>