---
import Base from '../layouts/Base.astro';
---
<Base title="Sonic-Stew">

  <div class="page-heading">>> Sonic Stew with Hole McJail</div>

  <div class="info-block">
<p>Hole McJail brings an eclectic international mix spanning dance pop to reggaeton bangers to make you want to shake your booty. Sonic Stew is a melting pot of music in multiple languages; Hole's goal is to introduce you to the sickest beats you'd never heard before, exploring sonic styles around the world.
</p>
</div>
<br>
<br>
<div class="img-grid" style="justify-content: flex-start;">
  <div class="img-item" style="flex: 0 0 auto;">
    <img src="/images/SonicStew.jpg" alt="My show's logo" style="width:250px;" />
  </div>
  <div class="img-item" style="flex: 0 0 auto;">
    <img src="/images/Stew2.jpg" alt="Episode 2 logo" style="width:285px;" />
  </div>
</div>
<h2>Episode 1: Debut Stew (April 6, 2026)</h2>
<iframe width="80%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-april-06-2026-debut-stew%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
<br>
<h2>Episode 2: Stew Two (April 20, 2026)</h2>
<iframe width="80%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&light=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-april-20-2026-stew-two%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
</Base>