---
import Base from '../layouts/Base.astro';
---
<Base title="Sonic-Stew">

  <div class="page-heading">>> Sonic Stew with Hole McJail</div>

  <div class="info-block">
    <p>I teamed up with my friend Hole McJail to promote his radio show on my website. Tune in starting April, 6, 2026! Airing Mondays from 6-8PM every two weeks on Freeform Portland 98.3 and 90.3 FM, streaming online at <a href="https://freeformportland.org" target="_blank">Freeformportland.org</a>
    </p>
<p>Hole McJail brings an eclectic international mix spanning dance pop to reggaeton bangers to make you want to shake your booty. Sonic Stew is a melting pot of music in multiple languages; Hole's goal is to introduce you to the sickest beats you'd never heard before, exploring sonic styles around the world.
</p>
</div>
<br>
Check out some of Hole's music tastes on <a href="https://www.last.fm/user/cormbhorsen" target="_blank">last.fm</a>
<br>
<br>
<br>
<h2>Episode 1: Debut Stew (April 6, 2026)</h2>
<iframe width="100%" height="120" src="https://player-widget.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2FHole-McJail%2Fsonic-stew-with-hole-mcjail-april-06-2026-debut-stew%2F" frameborder="0" allow="encrypted-media; fullscreen; autoplay; idle-detection; speaker-selection; web-share;" ></iframe>
<br><br><br>
<div class="img-item">
  <img src="/images/SonicStew.jpg" alt="My show's logo" style="display:block; margin:0;" />
</div>
</Base>